*{ box-sizing: border-box;
   font-family: "Muli", "Helvetica Neue", Helvetica, Arial;
}

:root {
--main-color: #0e3532;
--main2-color:#00687a;
--text2-color:#f0ffbf;
--background-color: #fad895;
--fieds-color: #ffcf57;
}
body {
    background-color: var(--background-color)
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 250px;
    
}

.header .car {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    background-color: var(--background-color);
    padding-right: 5%;
    box-shadow: 2px 2px 2px 6px rgba(0, 0, 0, 0.2);
    
}

.container .header {
    display: flex;
    flex-direction: column;
    width: 100%; 
	left: 0;
	top: 0; 
	position: fixed; 
    z-index: 1000;
   }

.header-bar {
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    justify-content: space-between;
    color: white;
    
}

.header-bar .title{
    padding-left: 5%;

}

.container-logo-title {
    display: flex;
    flex-direction: row;
}

.nav {
    padding-right: 5%;
}

.nav li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.nav li ul {
    line-height:100%;
    padding: 10px;
}

.nav li ul:hover {
    border-bottom: solid 1px white;
    cursor: pointer;
}

.jumbotron {
    display: flex;
    flex-direction: row;
    background-image: url(../img/OPSEG70.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 225px;
    color: white;
    align-items: center;
    padding-left: 15%;
    margin-top: 10%;
}
.container-prod {
    display: flex;
    flex-direction: column;
    
}


.perifericos-2 {
    margin-top: 30px;
    margin-bottom:30px;
}

.perifericos {
    background-color: var(--main2-color);
    margin-top: 30px;
    margin-bottom:30px;
}

.perifericos-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0%;
}

.perifericos-titulo h3 {
    color: rgb(162, 160, 160);
}

.prod-grip {
    display: grid;
    grid-gap: 15px;
    justify-items: center     
}

.prod-card {
    max-width: 80%;
    background-color: var(--main-color);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-height: fit-content;
}
.prod-img img {
    width: 100%;    
}

.prod-img {
    max-height: fit-content;
}

.prod-name {
    background: var(--fieds-color );
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.prod-name p {
   
   font-size: 0.6em;
   color: var(--text2-color);
}
.prod-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
}

.prod-footer > div p {
    font-size:0.9em;
    font-weight: bold;
    color: var(--text2-color);
}

.prod-footer .button {
    cursor: auto;
}
.prod-footer .button:hover {
    cursor: pointer;
}
#alerta {
    margin-top:1 0px;
    display: none;
}

#alerta p {
    color: mediumseagreen;
}

@media only screen and (max-width: 850px) {
    .container {
        padding-top: 20%;
        margin-left: 0;
        margin-right: 0;
    }
    .header-bar {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    .prod-grip {
       grid-template-columns: 1fr;
         
    }

    .header-bar .title {
        padding-left: 0;
    }

    .nav {
        padding-right: 0;
    }

    .jumbotron {
       height: 70%;
    }
}
@media only screen and (min-width: 851px) {
    .container {
        margin-left: 50px;
        margin-right: 50px;
    }

    .prod-grip {
       grid-template-columns: 1fr 1fr;
         
    }
}
@media only screen and (min-width: 951px) {

    .prod-grip {
        grid-template-columns: 1fr 1fr 1fr;
         
    }
}