*{ box-sizing: border-box;
   font-family: "Muli", "Helvetica Neue", Helvetica, Arial;
}

:root {
--main-color: #0e3532;
--main2-color:#00687a;
--text2-color:#f0ffbf;
--background-color: #fad895;
--fieds-color: #ffcf57;
}
body {
    background-color: var(--background-color)
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 250px;
    
}

.car {
    
}
.header-bar {
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    justify-content: space-between;
    color: white;
}

.header-bar .title{
    padding-left: 5%;

}

.nav {
    padding-right: 5%;
}

.nav li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.nav li ul {
    line-height:100%;
    padding: 10px;
}

.nav li ul:hover {
    border-bottom: solid 1px white;
    cursor: pointer;
}

.jumbotron {
    display: flex;
    flex-direction: row;
    background-image: url(../img/OPSEG70.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    background-color: var(--main-color);
    color: white;
    align-items: center;
    padding-left: 15%;
}

.perifericos-2 {
    
    margin-top: 30px;
    margin-bottom:30px;
}

.perifericos {
    background-color: var(--main2-color);
    margin-top: 30px;
    margin-bottom:30px;
}

.perifericos-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0%;
}

.perifericos-titulo h3 {
    color: rgb(162, 160, 160);
}

.prod-grip {
    display: grid;
    grid-gap: 15px;
    justify-items: center     
}

.prod-card {
    max-width: 80%;
    background-color: var(--main-color);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-height: fit-content;
}
.prod-img img {
    width: 100%;    
}

.prod-img {
    max-height: fit-content;
}

.prod-name {
    background: var(--fieds-color );
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.prod-name p {
   
   font-size: 0.6em;
   color: var(--text2-color);
}
.prod-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
}

.prod-footer > div p {
    font-size:0.9em;
    font-weight: bold;
    color: var(--text2-color);
}

.prod-footer .button {
    cursor: auto;
}
.prod-footer .button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 850px) {

    .prod-grip {
       grid-template-columns: 1fr;
         
    }
}
@media only screen and (min-width: 851px) {

    .prod-grip {
       grid-template-columns: 1fr 1fr;
         
    }
}
@media only screen and (min-width: 951px) {

    .prod-grip {
        grid-template-columns: 1fr 1fr 1fr;
         
    }
}